[submodule "home/.tmux/tpm"]
	path = home/.tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.vim/bundle/dein.vim"]
	path = home/.vim/bundle/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "home/.dotconfig"]
	path = home/.dotconfig
	url = git@glow.dev.ramcloud.io:sjohnson/dotconfig.git
[submodule "home/.zsh/plugins/antigen"]
	path = home/.zsh/plugins/antigen
	url = https://github.com/zsh-users/antigen.git
