# Ignore vim bundles that are managed by dein.
home/.vim/bundle/*
# Except for dein and noplaintext.
!home/.vim/bundle/dein.vim
!home/.vim/bundle/noplaintext

# Ignore tmux plugins that are managed by TPM.
home/.tmux/plugins/*
# Except for TPM itself.
!home/.tmux/plugins/tpm/
