[user]
	name = Sean Johnson
	email = sean@mailgun.com
[push]
	default = simple
	gpgSign = false
[http]
	sslVerify = false
[gpg]
	program = gpg2
[commit]
	gpgSign = true
[alias]
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
	take = pull --rebase
	puhhhhh = push --force
	amend = commit --amend --no-edit
[http "https://gopkg.in"]
	followRedirects = true
