[user]
	name = Sean Johnson
	email = sean.johnson@maio.me
[push]
	default = simple
	gpgSign = false
[http]
	sslVerify = false
[gpg]
	program = gpg2
[commit]
	gpgSign = false
[alias]
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
[http "https://git.gyrv.flynnhub.com"]
	sslCAInfo = /home/sean/.flynn/ca-certs/flynn-1474779706.pem
[credential "https://git.gyrv.flynnhub.com"]
	helper = /home/sean/.bin/flynn git-credentials
